<h2>会社情報</h2>
<% @companies.each do |company| %>
  <div>会社名: <%= company.name %></div>
  <div>会社番号: <%= company.number %></div>
  <div>会社番号<%= company.number %></div>
<% end %>

<h2>会社登録</h2>
<%= form_with model: @company, url: admin_companies_path, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <%= f.submit '登録' %>
<% end %>
